.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: black;
    gap: 2rem;
    padding: 0.5rem 2rem;
}
.navborder {
    border-bottom: 2px solid red;
        background-color: rgb(198, 208, 219);
        position: sticky;
        top: 0; /* Stick to the top of the viewport */
        z-index: 1000; /* Keeps it above other elements */
    }
.gapa{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading1 {
    font-size: 6rem;
    margin: 0;
}
.heading2 {
    font-size: 3rem;
    width: 80%;
    text-align: center;
    color: #000000;
}
.nav-bulb {
    display: flex;
    align-items: center;
    gap: 5px;
}
.lightbulb {
    color: #fbbf24;
}
a {
    color: inherit;
    text-decoration: none;
  }
.signup {
    display: grid;
    place-items: center; /* Centers both horizontally and vertically */
    height: 100vh;
}
.login {
    display: grid;
    place-items: center; /* Centers both horizontally and vertically */
    height: 100vh; /* Full viewport height */
}
label {
    font-size: 2rem; /* Increase font size */
    font-weight: bold; /* Make the text bold */
    color: #000000; /* Darker color for contrast */
    display: block; /* Ensure it occupies a full line */

  }
input {
    height: 2.1rem;
    width: 35rem;
    border-radius: 9px;
    padding: 12px;
    font-size: 1.5rem; /* Increase the font size */
    outline: none;
    }
button {
    margin-top: 9px;
    height: 4rem;
    border: 1px solid black;
    width: 10rem;
    background-color: rgb(129, 32, 225);
    border-radius: 20px;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
  }