.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: white;
    gap: 2rem;
    padding: 0.5rem 2rem;
}
.navborder {
    background-color: rgb(17, 17, 32);
        position: sticky;
        top: 0; /* Stick to the top of the viewport */
        z-index: 1000; /* Keeps it above other elements */
    }
.gapa{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading1 {
    font-size: 4rem;
    margin: 0.5rem;
}
.heading2 {
    font-size: 2rem;
    width: 50%;
    text-align: center;
    color: #D1D5DB;
}
.nav-bulb {
    display: flex;
    align-items: center;
    gap: 5px;
}
.lightbulb {
    color: #fbbf24;
}